
/* CSS Content 
==============================================*/



body {
	background-color: #fcfcfc;
	font-family: 'Nunito', sans-serif;
	margin: 10rem;


}

h1 {
	font-size: 1.5rem;
	font-family: "Montserrat", Helvetica, Roboto, Arial, sans-serif;
	font-weight: 600;
}

hr {
	max-width: 100%;
}

p {
	font-size: 1rem;
	max-width: 500px;
}


/* Header 
===============================================*/

.header-nav {
	text-align: center;
	margin-bottom: 3rem;
}

.header-nav img {
	margin-bottom: 1rem;
}

.header-nav-subtitle {
	font-size: 1rem;
	letter-spacing: .05rem;
}

.header-nav-link {
	text-transform: uppercase;
	font-weight: 600;
	color:#000;
	letter-spacing: .05rem;
}

.header-nav-link:hover{
	color: #BB7676;
}

.is-active {
	color: #7b183e;
}

.welcome h1{
	font-size: 40px;
}

/* Content CSS 
==============================================*/

.content {
	margin: 2rem 0;
	
}

.content img {
	margin: 1rem;
}

.portfolio {
	text-align: left;
	font-weight: 600;
	margin-bottom: 2rem;
	margin-top: 1rem;
	
}

.portfolio_logos {
	margin-right: 10px;
}

.about-pic {
	margin-bottom: 1rem;
	margin: 1rem;
    float: left;
    margin-top: .01rem;
    padding-right: 10px;
}

.contact-form-field {
	border-radius: .2rem;
	border-color: #ccc;
	box-shadow: none;
	background-color: #fcfcfc;
	max-width: 800px;
	min-width: 350px;

}

.contact-form-field:focus {
	background-color: #fff;
	border-color: #ccc;
	box-shadow: none;
	
}

.contact-submit {
	padding: .7rem 2rem;
	background-color: #000;
	text-transform: uppercase;
	letter-spacing: 0.05rem;	
}

.contact-submit:hover {
	background-color: #000;
	opacity: .8;
}

.contact_content {
    float: center;
    width: 800px;
    margin-left: 8rem;
}

a:hover {
	color: #BB7676;
}

.portfolio_logos a {
	display: inline-block;
	margin: 2rem;
}

.figcaption_nashville {
	margin-left: 20px;
}

/* Float Divs 
================================================*/

.float__left {
	width: 430px;
	float: left;
	margin: 2rem;

}

.float__left2 {
	width: 430px;
	float: left;
	margin: 2rem;
	
}

.float__right {
	width: 430px;
	float: left;
	margin: 2rem;
}

.float__left_contact {
	width: 430px;
	float: left;
	margin: 2rem;
	padding-left: 20px;
}

.float__right_contact {
	width: 450px;
	float: left;
	margin: 2rem;
	padding-left: 30px;
}

.para_profile {
	float: left;
	margin-top: 10px;
}

.profile_image {
	width: 393px;
    float: left;
    margin-top: -50px;
}
/* Footer
=================================================*/

.footer-menu-link {
	text-transform: uppercase;
	font-weight: 600;
	color:#000;
	letter-spacing: .05rem;
}

.footer_menu-link:hover {
	color: #BB7676;
}

.footer_menu:hover {
	color: #BB7676;
}

.is-active {
	color: #7b183e;
}

/* MEDIA QUERY
================================================== */

@media (max-width: 43px) {
	.content {
		margin-right: 450px;
		margin-top: 5px;
	}
	
	.header-nav {
		display: none;
	}
}

@media (max-width: 875px) {
	
	h1 {
		width: 100%;
	}
	.wrap p {
		width: 100%;
	}
}
@media screen and (min-width: 476px) {
	.wrap {
		width: 100%;
	}
	.inline-list{
		margin-top: 5px;
	}

}


